# Looking up ISBNs in Open Library

We've already [extracted ASINs from Amazon links in Hacker News posts](./0010-extracting-asins.ipynb) and obtained an [Open  Library Dump](https://openlibrary.org/developers/dumps).

We're now going to try to link those ASINs to works in Open Library.

## Imports

In [1]:
from pathlib import Path

from collections import defaultdict

import re

import gzip
import json
import sqlite3

import pandas as pd

from tqdm.notebook import tqdm

## Loading in Open Library

In [2]:
ol_dump_date = '2022-06-06'
data_path = Path('../data/01_raw')

def ol_path(segment):
    return data_path / f'ol_dump_{segment}_{ol_dump_date}.txt.gz'

def ol_data(segment):
    with gzip.open(ol_path(segment), 'rt') as f:
        for line in f:
            yield tuple(line.split('\t', 5))

## ISBN 10 to 13 Conversion

For books their ASIN is identical to an ISBN 10.
However almost 20% of Open Library records have an ISBN 13 and not an ISBN 10.
Luckily it's [straightforward to convert](https://bisg.org/page/conversionscalculat/Conversion--Calculations-.htm) an ISBN 13 to ISBN 10; we just add the prefix "378" and change the final "check digit" as per a given algorithm below.

In [3]:
isbn_10_weighting = [10,9,8,7,6,5,4,3,2]

isbn_13_weighting = [1,3,1,3,1,3,1,3,1,3,1,3,1]

def isbn10_check_digit(isbn10: str) -> str:
    assert len(isbn10) == 10
    digits = [int(x) for x in isbn10[:-1]]
    check = 11 - sum(x*y for x,y in zip(digits, isbn_10_weighting)) % 11
    
    if check == 11:
        check_digit = "0"
    elif check == 10:
        check_digit = "X"
    else:
        check_digit = str(check)
        
    assert len(check_digit) == 1
    assert check_digit in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "X"]
    return check_digit
    
def isbn13_check_digit(isbn13: str) -> str:
    assert len(isbn13) == 13
    digits = [int(x) for x in isbn13[:-1]]
    check = 10 - sum(x*y for x,y in zip(digits, isbn_13_weighting)) % 10
    
    if check == 10:
        check_digit = "0"
    else:
        check_digit = str(check)
        
    assert len(check_digit) == 1
    assert check_digit in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    return check_digit
    
def isbn13_to_10(isbn13: str) -> str:
    assert isbn13.startswith("978")
    
    return isbn13[3:-1] + isbn10_check_digit(isbn13[3:])

def isbn10_to_13(isbn10: str) -> str:
    return "978" + isbn10[:-1] + isbn13_check_digit("978" + isbn10)

## Extracting the ISBNs

We've already exported all posts with an ASIN here; we'll now try to extract the ISBN 10 when it exists with a link to the post.

In [4]:
df = pd.read_csv('../data/02_intermediate/hn_asin.csv').set_index('id')

In [5]:
asin_re = re.compile(r'amazon\.[^"> ]*/dp/([0-9]{9}[0-9X])\W'.replace('/', '&#x2F;'))

In [6]:
asin_matches = df.text.str.extractall(asin_re).drop_duplicates()

In [7]:
asin_matches

                         0
id       match
25763413 0      0809301377
27595409 0      0884272079
         2      0884271536
29586021 0      1577314808
26032563 0      1524747378
...                    ...
27126565 0      1937785580
27096359 0      1736703307
27090660 0      0300208448
29331929 0      3831138931
26745394 0      0062435612

[1423 rows x 1 columns]

In [8]:
isbn10s = set(asin_matches[0].unique())

We can also get the corresponding ISBN 13

In [9]:
isbn13s = {isbn10_to_13(a): a for a in isbn10s}

In [10]:
len(isbn10s), len(isbn13s)

(1423, 1423)

## Searching Open Library

We can now iterate through all the editions check whether the ISBN 10 or ISBN 13 are inside.

We could make this process fast by unnesting the ISBNs and adding an index in SQLite, but in practice it's a batch process we'd only need to do once in a while so we can let it run.

In [11]:
%%time
matches = defaultdict(set)
match_metadata = {}

for record_type, key, revision, last_modified, json_metadata in ol_data('editions'):
    metadata = json.loads(json_metadata)
    for isbn in metadata.get('isbn_10', []):
        if isbn in isbn10s:
            matches[isbn].update([key])
            match_metadata[key] = metadata
            
    for isbn in metadata.get('isbn_13', []):
        if isbn in isbn13s:
            matches[isbn13s[isbn]].update([key])
            match_metadata[key] = metadata

CPU times: user 12min 45s, sys: 4.3 s, total: 12min 49s
Wall time: 12min 49s

# Analysing linked records

Most of the records are linked

In [12]:
f'{len(matches) / len(isbn10s):0.2%}'

'94.03%'

All these unlinked records are legitimate books with ISBNs missing from Open Library.
I searched their names through Open Library

* 5 are in open library under a different ISBN (one is a CD)
* 5 are missing entirely, and could be added

In [13]:
def amazon_link(isbn10):
    return f'https://www.amazon.com/dp/{isbn10}'

In [14]:
print('\n'.join([amazon_link(i) for i in isbn10s if i not in matches][:10]))

https://www.amazon.com/dp/1947864351
https://www.amazon.com/dp/973465148X
https://www.amazon.com/dp/9387022897
https://www.amazon.com/dp/0814311156
https://www.amazon.com/dp/098018486X
https://www.amazon.com/dp/1610279034
https://www.amazon.com/dp/1521531218
https://www.amazon.com/dp/1733706119
https://www.amazon.com/dp/1975977920
https://www.amazon.com/dp/9684122179

20% have more than 1 match

In [15]:
f'{sum(1/len(matches) for v in matches.values() if len(v) > 1):0.2%}'

'20.25%'

Let's look at an example

In [16]:
i, editions = next(iter(matches.items()))
i, editions

('014015339X',
 {'/books/OL22594993M', '/books/OL7348913M', '/books/OL9303565M'})

Winnie the Pooh in Latin has 3 records.

These could potentially be merged in some way; for example authors and works can be merged.
Something like title is tricky where we need some heuristic to pick one (e.g. last updates, greatest revision, greatest amount of metadta, consistency (e.g. casing), consistency with work, ...)

This would be trickier if we found it via title, rather than by ISBN.

In [17]:
print(amazon_link(i))

https://www.amazon.com/dp/014015339X

In [18]:
for w in editions:
    print(match_metadata[w])
    print()

{'publishers': ['Penguin (Non-Classics)'], 'number_of_pages': 160, 'last_modified': {'type': '/type/datetime', 'value': '2010-08-18T06:35:31.974089'}, 'title': 'Winnie Ille Pu', 'contributions': ['Alexander Lenard (Translator)'], 'identifiers': {'goodreads': ['821004'], 'librarything': ['4315935']}, 'isbn_13': ['9780140153392'], 'covers': [96049], 'created': {'type': '/type/datetime', 'value': '2008-04-29T13:35:46.876380'}, 'languages': [{'key': '/languages/lat'}], 'isbn_10': ['014015339X'], 'publish_date': 'June 20, 1991', 'key': '/books/OL7348913M', 'authors': [{'key': '/authors/OL29881A'}, {'key': '/authors/OL2657539A'}], 'latest_revision': 6, 'works': [{'key': '/works/OL476641W'}], 'type': {'key': '/type/edition'}, 'revision': 6}

{'publishers': ['Penguin (Non-Classics)'], 'identifiers': {'librarything': ['4315935'], 'goodreads': ['821004']}, 'ia_box_id': ['ia148423'], 'weight': '2.4 ounces', 'isbn_10': ['014015339X'], 'covers': [8743072], 'physical_format': 'Paperback', 'ia_loaded_id': ['winnieillepulibe00miln'], 'last_modified': {'type': '/type/datetime', 'value': '2019-07-15T14:47:05.906161'}, 'latest_revision': 12, 'key': '/books/OL9303565M', 'authors': [{'key': '/authors/OL29881A'}, {'key': '/authors/OL2657539A'}], 'ocaid': 'winnieillepulibe00miln', 'contributions': ['Alexander Lenard (Translator)'], 'languages': [{'key': '/languages/lat'}], 'classifications': {}, 'source_records': ['ia:winnieillepulibe00miln'], 'title': 'Winnie Ille Pu', 'number_of_pages': 160, 'isbn_13': ['9780140153392'], 'created': {'type': '/type/datetime', 'value': '2008-04-30T09:38:13.731961'}, 'edition_name': 'Revised edition', 'subjects': ['Readers', 'Language', "Children's Books/Ages 4-8 Fiction", 'Latin language', 'General', 'Humor / Limericks & Verse', 'Animals', 'Fiction'], 'publish_date': 'June 20, 1991', 'works': [{'key': '/works/OL476641W'}], 'type': {'key': '/type/edition'}, 'physical_dimensions': '7.6 x 5 x 0.6 inches', 'revision': 12}

{'other_titles': ['Winnie the Pooh'], 'number_of_pages': 148, 'subtitle': 'liber celeberrimus omnibus fere pueris puellisque notus nunc primum de anglico sermone in Latinum conversus auctore Alexandro Lenardo', 'covers': [10528905, 8735104], 'key': '/books/OL22594993M', 'authors': [{'key': '/authors/OL29881A'}], 'ocaid': 'winnieillepulati00miln', 'publish_places': ['New York :bPenguin Books'], 'contributions': ['Lenardo, Alexandro'], 'pagination': '148 p. :', 'classifications': {}, 'source_records': ['ia:winnieillepulati00miln', 'ia:winnieillepulati00miln_626', 'bwb:9780140153392'], 'title': 'Winnie ille Pu', 'identifiers': {'librarything': ['4315935'], 'goodreads': ['821004']}, 'languages': [{'key': '/languages/lat'}], 'isbn_10': ['014015339X'], 'publish_date': '1991', 'publish_country': 'nyu', 'by_statement': 'A.A. Milnei ;  with notes and glossary prepared in consultation with Dr. Israel Walker.', 'works': [{'key': '/works/OL476641W'}], 'type': {'key': '/type/edition'}, 'lc_classifications': ['PR6025.I65'], 'latest_revision': 12, 'revision': 12, 'created': {'type': '/type/datetime', 'value': '2008-11-16T21:36:43.616851'}, 'last_modified': {'type': '/type/datetime', 'value': '2021-12-30T01:20:52.518143'}}

In [19]:
match_metadata[w]['works'][0]['key']

'/works/OL476641W'

We can find the corresponding HN comments

In [20]:
comment_ids = asin_matches[asin_matches[0] == i].reset_index()['id'].to_list()
comment_ids

[29735443]

In [21]:
df.loc[comment_ids].clean_text.to_list()

['Today i learned, that there is a latin translation of Winnie the Pooh. https://www.amazon.com/Winnie-Ille-Pu-Latin-Milne/dp/014015339X It even became a bestseller, and appeared on the list of New York Times bestsellers. Is it known, if translations of the work need to pay for copyright too?']

# Saving Results

In [22]:
max(len(v) for v in matches.values())

7

In [23]:
asin_matches.rename(columns={0: 'isbn'}).to_csv('../data/02_intermediate/hn_asin_isbn.csv')

In [24]:
pd.read_csv('../data/02_intermediate/hn_asin_isbn.csv')

            id  match        isbn
0     25763413      0  0809301377
1     27595409      0  0884272079
2     27595409      2  0884271536
3     29586021      0  1577314808
4     26032563      0  1524747378
...        ...    ...         ...
1418  27126565      0  1937785580
1419  27096359      0  1736703307
1420  27090660      0  0300208448
1421  29331929      0  3831138931
1422  26745394      0  0062435612

[1423 rows x 3 columns]

In [25]:
pairs = []
for k, vs in matches.items():
    for v in vs:
        pairs.append((k, v))
        
pd.DataFrame(pairs, columns=['isbn', 'edition_key']).to_csv('../data/02_intermediate/isbn_to_edition.csv', index=False)

In [26]:
pd.read_csv('../data/02_intermediate/isbn_to_edition.csv')

            isbn         edition_key
0     014015339X   /books/OL7348913M
1     014015339X   /books/OL9303565M
2     014015339X  /books/OL22594993M
3     9810240392   /books/OL9195040M
4     9810240392   /books/OL3435163M
...          ...                 ...
1708  1541647467  /books/OL29483383M
1709  1541647475  /books/OL32387462M
1710  1760290424  /books/OL34014431M
1711  0367338858  /books/OL34664066M
1712  0140439153   /books/OL3942244M

[1713 rows x 2 columns]

# Quick look at other records

In [27]:
import sqlite3

In [28]:
db = sqlite3.connect('../data/01_raw/openlibrary.sqlite')

In [29]:
for idx, (i, editions) in enumerate(matches.items()):
    meta = match_metadata[next(iter(editions))]
    if 'authors' in meta:
        first_author = meta['authors'][0]['key']
        author_meta = json.loads(db.execute(f"SELECT json FROM authors WHERE key = '{first_author}'").fetchone()[0])
    else:
        author_meta = {}
    
    comment_ids = asin_matches[asin_matches[0] == i].reset_index()['id'].to_list()
    comment_texts = df.loc[comment_ids].clean_text.to_list()
    
    print('*** ', meta['title'], 'by', author_meta.get('name'))
    print()
    for text in comment_texts:
        print(text[:500] + ('...' if len(text) >= 500 else ''))
    print()
    
    if idx > 20:
        break

***  Winnie Ille Pu by A. A. Milne

Today i learned, that there is a latin translation of Winnie the Pooh. https://www.amazon.com/Winnie-Ille-Pu-Latin-Milne/dp/014015339X It even became a bestseller, and appeared on the list of New York Times bestsellers. Is it known, if translations of the work need to pay for copyright too?

***  Foundations and Interpretation of Quantum Mechanics by Gennaro Auletta

You absolutely want this, relatively obscure, book:

https://www.amazon.com/Foundations-Interpretation-Quantum-Mechanics-Critical-Historical/dp/9810240392

There are some translation/copy-writing issues but don't let that put you off. It has a solid coverage of quantization of Hamiltonian mechanics in both matrix mechanics and wave mechanics, and then the unification of the two - all following the historical narrative.

***  The Game by Neil Strauss

(No idea whether you'll read this, but...)

> I know you're trying to come at this from a "things could be worse" perspective

Nope, not really,  I get that it matters, and how it matters.

I have two related points:

1) It matters, but it definitely doesn't matter **to the magnitude that you think it does**, right now - it's just one of many factors that matter.  Yep, you've lost this one, so rely on your other good areas and if it helps your mindset, find some others to optimise instead. (Like...

***  Algorithm Design by Jon Kleinberg

The good thing about Algorithm Design & Analysis as a topic is that there is no lack of great resources to learn from! And even better, a large portion of them are freely available online (in forms of lecture notes, or entire books, video lectures, programming challenges with online judging, etc).

In addition to what others have mentioned, here are some example resources you might prefer for a beginner-intermediate level intro:

1. (free online) Algorithms by Dasgupta, Papadimitriou, and Vazira...

***  The Twenty-One Balloons PMC by William Pène Du Bois

Like many kids, I learned about Krakatoa from William Pene du Bois' 1948 Newbery Award-winning YA novel "The Twenty-One Balloons" [0]. The story is about a fantastical steampunk civilization hidden on Krakatoa, which (spoiler) is eventually destroyed in the eruption. The book is an absolute trip , figuratively and literally - recommended for all ages!

[0] https://www.amazon.com/Twenty-One-Balloons-Puffin-Modern-Classics/dp/014240330X/

***  How the Mighty Fall by Collins, James C.

Take a look at Jim Collins’ **How the Mighty Fall**. https://www.amazon.com/How-Mighty-Fall-Companies-Never/dp/0977326411

***  The Trouble with Boys by Peg Tyre

> I think it's a pretty poorly kept open secret

There are lots of book about this. E.g.: https://www.amazon.com/Trouble-Boys-Surprising-Problems-Educators/dp/0307381293

***  Modern Operating Systems by None

I don't have any one complete book that I can recommend, and I don't even really have a great reading list for this.  But I'll make an attempt to share what I think is useful as a starting point.

1. Systems Operations is first and foremost about understanding systems, in all of their complexity, which means understanding the internals of your OS primarily.

2. Performance and networking, in particular, are super important areas to focus on understanding when it comes to learning the topic to he...

***  Hidden Hand by Clive Hamilton

Not simple examples but a full inquiry: https://www.amazon.com/Hidden-Hand-Clive-Hamilton/dp/1786077833/

***  End of Alzheimer's by Dale Bredesen

Here's a book that I wish I had 20 years ago, it offers some insight and something you can do:

https://www.amazon.com/End-Alzheimers-Program-Prevent-Cognitive/dp/0735216215/

The protocol isn't wacky, it's just a list of healthy things everyone should do (like getting enough sleep). I've been following much of it myself.

***  Norton Anthology of English Literature by Stephen Greenblatt

I'm increasingly put out by Amazon and am trying to stop the habit of shopping there. I like books, and Amazon was founded on books, but the way they ship books now (typically loose in a soft envelope or mostly empty box) means that >50% of the books I've ordered recently have arrived damaged and had to be returned. They used to shrinkwrap books to a cardboard plate inside the box.

There are other problems:
1) Search is just terrible. Often I have to search in Google to find the product I'm lo...

***  Moral mazes by Robert Jackall

I googled "SOC 2 Audited" - and I've got:
"""
A SOC 2 audit is a company-wide certification that evaluates an organization's standards regarding its core data security infrastructure, information handling practices, consumer privacy, and confidentiality. For this purpose, an SOC 2 auditor needs to evaluate various aspects of a company's systems and processes
"""
So it is about security. I guess your point is that it is just a security theatre and not related to the real thing - but that is a dif...

***  Bringing Up Bebe by None

This book has a lot about parenting, including how to get your kids to go to bed:

https://www.amazon.com/Bringing-Up-B%C3%A9b%C3%A9-Discovers-Parenting/dp/0143122967

***  Cognitive-Behavioral Therapy for Adult ADHD by Mary V. Solanto

As someone with ADHD, this sets off some (okay, many) red flags for me.

Some thoughts:

- Patient intake for ADHD **is** genuinely awful, you're right about that. The diagnostic/treatment process for ADHD often feels like it's designed to make people with ADHD struggle.

- CBT is generally helpful, therapy is an important part of treatment. I've seen good results from it.

- in-person sessions are expensive (although if you have good insurance you shouldn't be hitting $200-300 a session).

----...

***  Introduction to 64 Bit Intel Assembly Language Programming for Linux by Ray Seyfarth

[0]: https://www.amazon.com/Introduction-Intel-Assembly-Language-Programming/dp/1466470038

Ray Sefarth Introduction to 64 Bit Intel Assembly Language Programming for Linux was what we used in my architecture class. I thought it was good coming from only knowing Java at the time.

That class alone laid the world flat for me in regards to the "totality" of software development. Literally everything comes down to the 1's and 0's running through millions of transistors or whatever they are in the C...

***  Information rules by Carl Shapiro

Complexity Economics

I've been binging books on the topic as well as exchanging dialogs with a colleague over email.  Books list:

_Completed_

The Origin of Wealth: The Radical Remaking of Economics and What it Means for Business and Society - https://www.amazon.com/gp/product/1422121038/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1

Increasing Returns and Path Dependence in the Economy (Economics, Cognition, And Society) - https://www.amazon.com/gp/product/0472064967/ref=ppx_yo_dt_b_asin_t...

***  Artificial life II by Artificial Life Workshop (2nd 1990 Santa Fe, N.M.)

Not sure if this is just for fun or for research.   Artificial Life is/was a field of ressearch for a while, papers were written, books were published, [1][2] etc.  The field sought to study biology and the complexity of living things by experimenting with simulations of the real thing(s).

This reminds me of what IMHO is best use of artificial life in a game, Unnatural Selection.  In the game you had to select and breed creatures to go against other enemy creatures. [3][4]

[1]  https://en.wiki...

***  Software as capital by Howard Baetjer

Also https://www.amazon.com/Software-Capital-Economic-Perspective-Engineering/dp/0818677791

***  Algebra by I.M. Gelfand

You can find some on Amazon.

Gelfand's Algebra: https://www.amazon.com/Algebra-Israel-M-Gelfand/dp/0817636773/

Gelfand's Geometry: https://www.amazon.com/Geometry-Israel-M-Gelfand/dp/1071602977/

Gelfand's Trigonometry: https://www.amazon.com/Trigonometry-Gelfand-Mathematical-Seminar-Israel/dp/3764339144/

***  This Is How They Tell Me the World Ends by Nicole Perlroth

I will just add, the author of the NYT piece has a book out on this subject. The book is decent, has some cringe worthy descriptions of technical things if you are a technical person, but overall I learned a huge amount reading it.

A lot of the commentary, accusations, and opinions in the comments here would be addressed or better colored if you're interested enough to read her book (https://www.amazon.com/This-They-Tell-World-Ends/dp/1635576059).

Also, just to be clear, one of the reasons I *...

***  Minding My Mitochondria 2nd Edition by Terry L. Wahls

Just to note, I believe Terry Wahls has been arguing a version of this for at least a decade (https://www.amazon.com/Minding-Mitochondria-2nd-progressive-wheelchair/dp/0982175086) and has written a diet (the Wahls Protocol) directed towards mitochondrial health.

I've been interested in her ideas ever since close family contracted an autoimmune disease.

***  The Toyota way by Jeffrey K. Liker

As a huge Ed Deming fan, I'd recommend these books:

- The Essential Deming: Leadership Principles from the Father of Quality:
https://www.amazon.com/Essential-Deming-Leadership-Principles-Quality/dp/0071790225/

- The New Economics for Industry, Government, Education:
https://www.amazon.com/Economics-Industry-Government-Education-Press/dp/0262535939/

- The Toyota Way: 14 Management Principles from the World's Greatest Manufacturer:
https://www.amazon.com/Toyota-Way-Management-Principles-Manufa...